In [1]:
import pandas as pd
import numpy as np

# 데이터 전처리

## 행정동 코드명, 시군구 코드명 추가하기

In [2]:
area = pd.read_csv('dataset/서울시 우리마을가게 상권분석서비스(상권영역).csv', encoding='cp949')
area

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [3]:
area = area[['상권_코드', '상권_코드_명', '시군구_코드', '행정동_코드']]
area

        상권_코드       상권_코드_명  시군구_코드    행정동_코드
0     2110753   시흥동 은행나무사거리   11545  11545710
1     2110427    노원 을지대학교병원   11350  11350611
2     2110755      동일여자고등학교   11545  11545680
3     2110739    시흥3동 우편취급국   11545  11545690
4     2111017      송파나루역 3번   11710  11710562
...       ...           ...     ...       ...
1666  1001493  동대문패션타운 관광특구   11140  11140590
1667  1001494    종로?청계 관광특구   11110  11110615
1668  1001495       잠실 관광특구   11710  11710566
1669  1001496   강남 마이스 관광특구   11680  11680580
1670  1001491      이태원 관광특구   11170  11170650

[1671 rows x 4 columns]

In [4]:
area2 = pd.read_csv('dataset/서울시 우리마을가게 상권분석서비스(행정동별 상권변화지표).csv', encoding='cp949')
area2

,기준_년_코드,기준_분기_코드,행정동_코드,행정동_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
0,2022,1,11740700,둔촌2동,HL,상권축소,121,52,119,55
1,2022,1,11740690,둔촌1동,HH,정체,175,72,119,55
2,2022,1,11740685,길동,LL,다이나믹,112,49,119,55
3,2022,1,11740660,성내3동,HL,상권축소,121,49,119,55
4,2022,1,11740650,성내2동,LL,다이나믹,118,48,119,55
...,...,...,...,...,...,...,...,...,...,...
13987,2014,1,11110560,평창동,HH,정체,95,51,92,45
13988,2014,1,11110550,부암동,LH,상권확장,92,48,92,45
13989,2014,1,11110540,삼청동,LH,상권확장,78,49,92,45
13990,2014,1,11110530,사직동,HH,정체,103,51,92,45
13991,2014,1,11110515,청운효자동,LH,상권확장,91,53,92,45

In [5]:
area2['행정동_코드'].value_counts()

11740700    33
11305545    33
11305575    33
11305590    33
11305600    33
            ..
11560515    33
11560535    33
11560540    33
11560550    33
11110515    33
Name: 행정동_코드, Length: 424, dtype: int64

In [6]:
area2 = area2[area2['기준_년_코드']==2022][['행정동_코드', '행정동_코드_명']]
area2

       행정동_코드 행정동_코드_명
0    11740700     둔촌2동
1    11740690     둔촌1동
2    11740685       길동
3    11740660     성내3동
4    11740650     성내2동
..        ...      ...
419  11110560      평창동
420  11110550      부암동
421  11110540      삼청동
422  11110530      사직동
423  11110515    청운효자동

[424 rows x 2 columns]

In [7]:
area = pd.merge(area, area2, on='행정동_코드')
area

        상권_코드            상권_코드_명  시군구_코드    행정동_코드 행정동_코드_명
0     2110753        시흥동 은행나무사거리   11545  11545710     시흥5동
1     2110748             백산초등학교   11545  11545710     시흥5동
2     2110754  삼성산자연공원(서울금천초등학교)   11545  11545710     시흥5동
3     2130238             은행나무시장   11545  11545710     시흥5동
4     2110427         노원 을지대학교병원   11350  11350611     하계1동
...       ...                ...     ...       ...      ...
1666  2130166        응암시장(신응암시장)   11380  11380590     응암2동
1667  2130113               신아타운   11260  11260690     신내2동
1668  2130051         동화동 골목형상점가   11140  11140665      동화동
1669  2130102             이문제일시장   11230  11230750     이문2동
1670  1001495            잠실 관광특구   11710  11710566      오륜동

[1671 rows x 5 columns]

In [8]:
# 서울특별시 시군구 코드, 시군구 명
dic = {11680: '강남구', 11740: '강동구', 11305: '강북구', 11500: '강서구', 11620: '관악구', 11215: '광진구', 11530: '구로구',
        11545: '금천구', 11350: '노원구', 11320: '도봉구', 11230: '동대문구', 11590: '동작구', 11440: '마포구', 11410: '서대문구',
        11650: '서초구', 11200: '성동구', 11290: '성북구', 11710: '송파구', 11470: '양천구', 11560: '영등포구', 11170: '용산구',
        11380: '은평구', 11110: '종로구', 11140: '중구', 11260: '중랑구'}

In [9]:
area['시군구_코드_명_'] = area['시군구_코드'].apply(lambda x: dic.get(x, np.nan))
area

        상권_코드            상권_코드_명  시군구_코드    행정동_코드 행정동_코드_명 시군구_코드_명_
0     2110753        시흥동 은행나무사거리   11545  11545710     시흥5동       금천구
1     2110748             백산초등학교   11545  11545710     시흥5동       금천구
2     2110754  삼성산자연공원(서울금천초등학교)   11545  11545710     시흥5동       금천구
3     2130238             은행나무시장   11545  11545710     시흥5동       금천구
4     2110427         노원 을지대학교병원   11350  11350611     하계1동       노원구
...       ...                ...     ...       ...      ...       ...
1666  2130166        응암시장(신응암시장)   11380  11380590     응암2동       은평구
1667  2130113               신아타운   11260  11260690     신내2동       중랑구
1668  2130051         동화동 골목형상점가   11140  11140665      동화동        중구
1669  2130102             이문제일시장   11230  11230750     이문2동      동대문구
1670  1001495            잠실 관광특구   11710  11710566      오륜동       송파구

[1671 rows x 6 columns]

In [10]:
area.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1671 entries, 0 to 1670
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   상권_코드      1671 non-null   int64
 1   상권_코드_명    1671 non-null   object
 2   시군구_코드     1671 non-null   int64
 3   행정동_코드     1671 non-null   int64
 4   행정동_코드_명   1671 non-null   object
 5   시군구_코드_명_  1671 non-null   object
dtypes: int64(3), object(3)
memory usage: 91.4+ KB

In [11]:
area.isna().sum()

상권_코드        0
상권_코드_명      0
시군구_코드       0
행정동_코드       0
행정동_코드_명     0
시군구_코드_명_    0
dtype: int64

In [12]:
temp = pd.read_csv('dataset/서울시_우리마을가게_상권분석서비스(구_상권_집객시설).csv', encoding='cp949')
temp2 = pd.read_csv('dataset/서울시_우리마을가게_상권분석서비스(구_상권배후지_집객시설).csv')

In [13]:
cond = (temp['기준_년_코드'] == 2021) & (temp['기준_분기_코드'] == 3)
cond2 = (temp2['기준_년_코드'] == 2021) & (temp2['기준_분기_코드'] == 3)
temp = temp.loc[cond]
temp2 = temp2.loc[cond2]
display(temp, temp2)

,기준_년_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,...,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,기준_분기_코드
0,2021,A,골목상권,1000862,방배로18길,8,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3
1,2021,A,골목상권,1000611,개봉로17다길,17,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,3
2,2021,A,골목상권,1000606,화곡로44나길,11,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3
3,2021,A,골목상권,1000602,초원로16길,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3
4,2021,A,골목상권,1000601,초록마을로8길,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5794,2021,U,관광특구,1001493,동대문패션타운 관광특구,149,3.0,12.0,1.0,1.0,...,NaN,3.0,NaN,1.0,NaN,NaN,NaN,5.0,18.0,3
5796,2021,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,426,14.0,57.0,NaN,NaN,...,1.0,2.0,NaN,9.0,NaN,NaN,NaN,2.0,44.0,3
5799,2021,U,관광특구,1001495,잠실 관광특구,149,3.0,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,20.0,3
5801,2021,U,관광특구,1001494,종로·청계 관광특구,243,5.0,18.0,NaN,NaN,...,NaN,6.0,NaN,15.0,NaN,NaN,NaN,4.0,27.0,3
5802,2021,U,관광특구,1001491,이태원 관광특구,63,5.0,6.0,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,1.0,13.0,3

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,...,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
26260,2021,3,A,골목상권,1000328,삼양로20길,44,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
26261,2021,3,A,골목상권,1000329,삼양로24길,108,5.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
26262,2021,3,A,골목상권,1000354,덕릉로60길,90,2.0,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,43
26263,2021,3,A,골목상권,1000604,화곡로20길,75,3.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
26264,2021,3,A,골목상권,1000605,화곡로31길,170,7.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27265,2021,3,A,골목상권,1000290,인촌로1길,92,5.0,3.0,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,24
27266,2021,3,A,골목상권,1000295,장월로1길,89,5.0,2.0,NaN,...,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,27
27267,2021,3,A,골목상권,1000323,도봉로67길,106,3.0,2.0,NaN,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,10
27268,2021,3,A,골목상권,1000508,곰달래로10길,82,3.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
27269,2021,3,A,골목상권,1000537,오목로30길,102,4.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,20

In [14]:
df = pd.concat([temp, temp2], ignore_index=True)
df

,기준_년_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,...,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,기준_분기_코드
0,2021,A,골목상권,1000862,방배로18길,8,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3
1,2021,A,골목상권,1000611,개봉로17다길,17,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,3
2,2021,A,골목상권,1000606,화곡로44나길,11,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3
3,2021,A,골목상권,1000602,초원로16길,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3
4,2021,A,골목상권,1000601,초록마을로8길,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452,2021,A,골목상권,1000290,인촌로1길,92,5.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,24.0,3
2453,2021,A,골목상권,1000295,장월로1길,89,5.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,27.0,3
2454,2021,A,골목상권,1000323,도봉로67길,106,3.0,2.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,10.0,3
2455,2021,A,골목상권,1000508,곰달래로10길,82,3.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3
2456,2021,A,골목상권,1000537,오목로30길,102,4.0,4.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,20.0,3

In [15]:
df.columns

Index(['기준_년_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '집객시설_수',
       '관공서_수', '은행_수', '종합병원_수', '일반_병원_수', '약국_수', '유치원_수', '초등학교_수',
       '중학교_수', '고등학교_수', '대학교_수', '백화점_수', '슈퍼마켓_수', '극장_수', '숙박_시설_수',
       '공항_수', '철도_역_수', '버스_터미널_수', '지하철_역_수', '버스_정거장_수', '기준_분기_코드'],
      dtype='object')

In [16]:
df.drop(['기준_년_코드', '상권_구분_코드', '상권_구분_코드_명', '기준_분기_코드'], axis=1, inplace=True)
df

,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,...,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
0,1000862,방배로18길,8,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
1,1000611,개봉로17다길,17,NaN,1.0,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
2,1000606,화곡로44나길,11,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
3,1000602,초원로16길,5,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,1000601,초록마을로8길,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452,1000290,인촌로1길,92,5.0,3.0,NaN,NaN,9.0,NaN,1.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,24.0
2453,1000295,장월로1길,89,5.0,2.0,NaN,NaN,7.0,2.0,2.0,...,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,27.0
2454,1000323,도봉로67길,106,3.0,2.0,NaN,NaN,13.0,NaN,1.0,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,10.0
2455,1000508,곰달래로10길,82,3.0,1.0,NaN,NaN,9.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
2456,1000537,오목로30길,102,4.0,4.0,NaN,1.0,12.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,20.0

In [17]:
df = pd.merge(df, area, on='상권_코드')
df

,상권_코드,상권_코드_명_x,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,...,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,상권_코드_명_y,시군구_코드,행정동_코드,행정동_코드_명,시군구_코드_명_
0,1001496,강남 마이스 관광특구,34,1.0,8.0,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,1.0,8.0,강남 마이스 관광특구,11680,11680580,삼성1동,강남구
1,1001493,동대문패션타운 관광특구,149,3.0,12.0,1.0,1.0,15.0,NaN,1.0,...,NaN,NaN,NaN,5.0,18.0,동대문패션타운 관광특구,11140,11140590,광희동,중구
2,1001492,명동 남대문 북창동 다동 무교동 관광특구,426,14.0,57.0,NaN,NaN,43.0,NaN,NaN,...,NaN,NaN,NaN,2.0,44.0,명동 남대문 북창동 다동 무교동 관광특구,11140,11140520,소공동,중구
3,1001495,잠실 관광특구,149,3.0,13.0,NaN,NaN,14.0,NaN,1.0,...,NaN,NaN,NaN,3.0,20.0,잠실 관광특구,11710,11710566,오륜동,송파구
4,1001494,종로·청계 관광특구,243,5.0,18.0,NaN,NaN,32.0,NaN,NaN,...,NaN,NaN,NaN,4.0,27.0,종로?청계 관광특구,11110,11110615,종로1.2.3.4가동,종로구
5,1001491,이태원 관광특구,63,5.0,6.0,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,1.0,13.0,이태원 관광특구,11170,11170650,이태원1동,용산구

In [18]:
df['상권_코드'].value_counts()

1001496    1
1001493    1
1001492    1
1001495    1
1001494    1
1001491    1
Name: 상권_코드, dtype: int64