In [1]:
import pandas as pd
import numpy as np

# 데이터 전처리

### 구_상권코드 shp to csv

In [2]:
import geopandas as gpd

In [3]:
gdf = gpd.GeoDataFrame.from_file('shp_data/서울시_우리마을가게_상권분석서비스(구_상권영역)/TBGIS_TRDAR_RELM.shp')
gdf.to_csv('./dataset/서울시 우리마을가게 상권분석서비스(구_상권영역).csv', encoding='utf-8', index=False)

## 행정동 코드명, 시군구 코드명 추가

In [4]:
temp = pd.read_csv('dataset/서울시 우리마을가게 상권분석서비스(구_상권영역).csv')
temp

,TRDAR_SE_C,TRDAR_SE_1,TRDAR_CD,TRDAR_CD_N,XCNTS_VALU,YDNTS_VALU,SIGNGU_CD,ADSTRD_CD,STDR_YM_CD,geometry
0,R,전통시장,1001453,낙성대시장,196121,442084,11620,11620585,201810,"POLYGON ((196213.759999998 442152.079999998, 1..."
1,R,전통시장,1001454,봉천제일종합시장,195147,442413,11620,11620595,201810,"POLYGON ((195242.519999996 442426.729999997, 1..."
2,R,전통시장,1001474,도곡시장,204551,444227,11680,11680650,201810,"POLYGON ((204621.689999998 444236.129999995, 2..."
3,R,전통시장,1001475,강남개포시장,206065,443310,11680,11680670,201810,"POLYGON ((205983.139999993 443324.319999993, 2..."
4,R,전통시장,1001412,화곡본동시장,186203,449328,11500,11500590,201810,"POLYGON ((186224.349999994 449258.549999997, 1..."
...,...,...,...,...,...,...,...,...,...,...
1491,D,발달상권,1001044,양재역_3,202755,443008,11650,11650520,201810,"POLYGON ((202839.639999993 443232.46999999904,..."
1492,D,발달상권,1001030,양재역_2,203216,442691,11650,11650651,201810,"POLYGON ((203365.129999995 442691.519999996, 2..."
1493,D,발달상권,1001031,서울 관악구 신림역_1,193706,442615,11620,11620645,201810,"POLYGON ((193809.139999993 442383.27999999403,..."
1494,D,발달상권,1001032,서울 관악구 신림역_2,193880,442602,11620,11620645,201810,"POLYGON ((193950.269999996 442746.46999999904,..."
1495,D,발달상권,1001033,서울 서초구 남부터미널역_1,201661,442764,11650,11650510,201810,"POLYGON ((201662.68 442857.159999996, 201684.0..."

In [5]:
temp2 = pd.read_csv('dataset/서울시 우리마을가게 상권분석서비스(상권영역).csv', encoding='cp949')
temp2

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [6]:
temp.columns, temp2.columns

(Index(['TRDAR_SE_C', 'TRDAR_SE_1', 'TRDAR_CD', 'TRDAR_CD_N', 'XCNTS_VALU',
        'YDNTS_VALU', 'SIGNGU_CD', 'ADSTRD_CD', 'STDR_YM_CD', 'geometry'],
       dtype='object'),
 Index(['기준_년월_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '엑스좌표_값',
        '와이좌표_값', '시군구_코드', '행정동_코드', '형태정보'],
       dtype='object'))

In [7]:
temp.columns = ['상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '엑스좌표_값',
        '와이좌표_값', '시군구_코드', '행정동_코드', '기준_년월_코드', '형태정보']
temp

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,기준_년월_코드,형태정보
0,R,전통시장,1001453,낙성대시장,196121,442084,11620,11620585,201810,"POLYGON ((196213.759999998 442152.079999998, 1..."
1,R,전통시장,1001454,봉천제일종합시장,195147,442413,11620,11620595,201810,"POLYGON ((195242.519999996 442426.729999997, 1..."
2,R,전통시장,1001474,도곡시장,204551,444227,11680,11680650,201810,"POLYGON ((204621.689999998 444236.129999995, 2..."
3,R,전통시장,1001475,강남개포시장,206065,443310,11680,11680670,201810,"POLYGON ((205983.139999993 443324.319999993, 2..."
4,R,전통시장,1001412,화곡본동시장,186203,449328,11500,11500590,201810,"POLYGON ((186224.349999994 449258.549999997, 1..."
...,...,...,...,...,...,...,...,...,...,...
1491,D,발달상권,1001044,양재역_3,202755,443008,11650,11650520,201810,"POLYGON ((202839.639999993 443232.46999999904,..."
1492,D,발달상권,1001030,양재역_2,203216,442691,11650,11650651,201810,"POLYGON ((203365.129999995 442691.519999996, 2..."
1493,D,발달상권,1001031,서울 관악구 신림역_1,193706,442615,11620,11620645,201810,"POLYGON ((193809.139999993 442383.27999999403,..."
1494,D,발달상권,1001032,서울 관악구 신림역_2,193880,442602,11620,11620645,201810,"POLYGON ((193950.269999996 442746.46999999904,..."
1495,D,발달상권,1001033,서울 서초구 남부터미널역_1,201661,442764,11650,11650510,201810,"POLYGON ((201662.68 442857.159999996, 201684.0..."

In [8]:
area = pd.concat([temp, temp2], ignore_index=True)
area

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,기준_년월_코드,형태정보
0,R,전통시장,1001453,낙성대시장,196121,442084,11620,11620585,201810,"POLYGON ((196213.759999998 442152.079999998, 1..."
1,R,전통시장,1001454,봉천제일종합시장,195147,442413,11620,11620595,201810,"POLYGON ((195242.519999996 442426.729999997, 1..."
2,R,전통시장,1001474,도곡시장,204551,444227,11680,11680650,201810,"POLYGON ((204621.689999998 444236.129999995, 2..."
3,R,전통시장,1001475,강남개포시장,206065,443310,11680,11680670,201810,"POLYGON ((205983.139999993 443324.319999993, 2..."
4,R,전통시장,1001412,화곡본동시장,186203,449328,11500,11500590,201810,"POLYGON ((186224.349999994 449258.549999997, 1..."
...,...,...,...,...,...,...,...,...,...,...
3162,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,202112,NaN
3163,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,202112,NaN
3164,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,202112,NaN
3165,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,202112,NaN
3166,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,202112,NaN

In [9]:
area = area[['상권_코드', '상권_코드_명', '시군구_코드', '행정동_코드']]
area

        상권_코드       상권_코드_명  시군구_코드    행정동_코드
0     1001453         낙성대시장   11620  11620585
1     1001454      봉천제일종합시장   11620  11620595
2     1001474          도곡시장   11680  11680650
3     1001475        강남개포시장   11680  11680670
4     1001412        화곡본동시장   11500  11500590
...       ...           ...     ...       ...
3162  1001493  동대문패션타운 관광특구   11140  11140590
3163  1001494    종로?청계 관광특구   11110  11110615
3164  1001495       잠실 관광특구   11710  11710566
3165  1001496   강남 마이스 관광특구   11680  11680580
3166  1001491      이태원 관광특구   11170  11170650

[3167 rows x 4 columns]

In [10]:
area2 = pd.read_csv('dataset/서울시 우리마을가게 상권분석서비스(행정동별 상권변화지표).csv', encoding='cp949')
area2

,기준_년_코드,기준_분기_코드,행정동_코드,행정동_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
0,2022,1,11740700,둔촌2동,HL,상권축소,121,52,119,55
1,2022,1,11740690,둔촌1동,HH,정체,175,72,119,55
2,2022,1,11740685,길동,LL,다이나믹,112,49,119,55
3,2022,1,11740660,성내3동,HL,상권축소,121,49,119,55
4,2022,1,11740650,성내2동,LL,다이나믹,118,48,119,55
...,...,...,...,...,...,...,...,...,...,...
13987,2014,1,11110560,평창동,HH,정체,95,51,92,45
13988,2014,1,11110550,부암동,LH,상권확장,92,48,92,45
13989,2014,1,11110540,삼청동,LH,상권확장,78,49,92,45
13990,2014,1,11110530,사직동,HH,정체,103,51,92,45
13991,2014,1,11110515,청운효자동,LH,상권확장,91,53,92,45

In [11]:
area2['행정동_코드'].value_counts()

11740700    33
11305545    33
11305575    33
11305590    33
11305600    33
            ..
11560515    33
11560535    33
11560540    33
11560550    33
11110515    33
Name: 행정동_코드, Length: 424, dtype: int64

In [12]:
area2 = area2[area2['기준_년_코드']==2022][['행정동_코드', '행정동_코드_명']]
area2

       행정동_코드 행정동_코드_명
0    11740700     둔촌2동
1    11740690     둔촌1동
2    11740685       길동
3    11740660     성내3동
4    11740650     성내2동
..        ...      ...
419  11110560      평창동
420  11110550      부암동
421  11110540      삼청동
422  11110530      사직동
423  11110515    청운효자동

[424 rows x 2 columns]

In [13]:
area = pd.merge(area, area2, on='행정동_코드')
area

        상권_코드    상권_코드_명  시군구_코드    행정동_코드 행정동_코드_명
0     1001453      낙성대시장   11620  11620585     낙성대동
1     1000799  남부순환로234길   11620  11620585     낙성대동
2     1000780     관악로10길   11620  11620585     낙성대동
3     1000781     관악로14길   11620  11620585     낙성대동
4     2110895       샤로수길   11620  11620585     낙성대동
...       ...        ...     ...       ...      ...
3162  2110392      발바닥공원   11320  11320681     쌍문4동
3163  2120241        거여역   11710  11710532     거여2동
3164  2120080        마들역   11350  11350710     상계9동
3165  2120114     목동신시가지   11470  11470550      목5동
3166  2130113       신아타운   11260  11260690     신내2동

[3167 rows x 5 columns]

In [14]:
# 서울특별시 시군구 코드, 시군구 명
dic = {11680: '강남구', 11740: '강동구', 11305: '강북구', 11500: '강서구', 11620: '관악구', 11215: '광진구', 11530: '구로구',
        11545: '금천구', 11350: '노원구', 11320: '도봉구', 11230: '동대문구', 11590: '동작구', 11440: '마포구', 11410: '서대문구',
        11650: '서초구', 11200: '성동구', 11290: '성북구', 11710: '송파구', 11470: '양천구', 11560: '영등포구', 11170: '용산구',
        11380: '은평구', 11110: '종로구', 11140: '중구', 11260: '중랑구'}

In [15]:
area['시군구_코드_명'] = area['시군구_코드'].apply(lambda x: dic.get(x, np.nan))
area

        상권_코드    상권_코드_명  시군구_코드    행정동_코드 행정동_코드_명 시군구_코드_명
0     1001453      낙성대시장   11620  11620585     낙성대동      관악구
1     1000799  남부순환로234길   11620  11620585     낙성대동      관악구
2     1000780     관악로10길   11620  11620585     낙성대동      관악구
3     1000781     관악로14길   11620  11620585     낙성대동      관악구
4     2110895       샤로수길   11620  11620585     낙성대동      관악구
...       ...        ...     ...       ...      ...      ...
3162  2110392      발바닥공원   11320  11320681     쌍문4동      도봉구
3163  2120241        거여역   11710  11710532     거여2동      송파구
3164  2120080        마들역   11350  11350710     상계9동      노원구
3165  2120114     목동신시가지   11470  11470550      목5동      양천구
3166  2130113       신아타운   11260  11260690     신내2동      중랑구

[3167 rows x 6 columns]

In [16]:
area.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3167 entries, 0 to 3166
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   상권_코드     3167 non-null   int64
 1   상권_코드_명   3167 non-null   object
 2   시군구_코드    3167 non-null   int64
 3   행정동_코드    3167 non-null   int64
 4   행정동_코드_명  3167 non-null   object
 5   시군구_코드_명  3167 non-null   object
dtypes: int64(3), object(3)
memory usage: 173.2+ KB

In [17]:
area.isna().sum()

상권_코드       0
상권_코드_명     0
시군구_코드      0
행정동_코드      0
행정동_코드_명    0
시군구_코드_명    0
dtype: int64

In [84]:
temp = pd.read_csv('dataset/서울시_우리마을가게_상권분석서비스(구_상권_집객시설).csv', encoding='cp949')
temp2 = pd.read_csv('dataset/서울시_우리마을가게_상권분석서비스(구_상권배후지_집객시설).csv')

In [85]:
cond = (temp['기준_년_코드'] == 2021) & (temp['기준_분기_코드'] == 3)
cond2 = (temp2['기준_년_코드'] == 2021) & (temp2['기준_분기_코드'] == 4)
temp = temp.loc[cond]
temp2 = temp2.loc[cond2]
display(temp, temp2)

,기준_년_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,...,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,기준_분기_코드
0,2021,A,골목상권,1000862,방배로18길,8,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3
1,2021,A,골목상권,1000611,개봉로17다길,17,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,3
2,2021,A,골목상권,1000606,화곡로44나길,11,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3
3,2021,A,골목상권,1000602,초원로16길,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3
4,2021,A,골목상권,1000601,초록마을로8길,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5794,2021,U,관광특구,1001493,동대문패션타운 관광특구,149,3.0,12.0,1.0,1.0,...,NaN,3.0,NaN,1.0,NaN,NaN,NaN,5.0,18.0,3
5796,2021,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,426,14.0,57.0,NaN,NaN,...,1.0,2.0,NaN,9.0,NaN,NaN,NaN,2.0,44.0,3
5799,2021,U,관광특구,1001495,잠실 관광특구,149,3.0,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,20.0,3
5801,2021,U,관광특구,1001494,종로·청계 관광특구,243,5.0,18.0,NaN,NaN,...,NaN,6.0,NaN,15.0,NaN,NaN,NaN,4.0,27.0,3
5802,2021,U,관광특구,1001491,이태원 관광특구,63,5.0,6.0,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,1.0,13.0,3

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,...,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
27270,2021,4,A,골목상권,1000822,신사로20길,46,3.0,1.0,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,12
27271,2021,4,A,골목상권,1000800,남부순환로248길,80,1.0,3.0,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,11
27272,2021,4,A,골목상권,1000717,신길로42길,73,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,23
27273,2021,4,A,골목상권,1000815,신림동길,162,1.0,3.0,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,1.0,20
27274,2021,4,A,골목상권,1000826,인헌길,63,1.0,1.0,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28275,2021,4,A,골목상권,1000573,곰달래로60길,102,2.0,3.0,1.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
28276,2021,4,A,골목상권,1000559,강서로45길,92,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,16
28277,2021,4,A,골목상권,1000580,공항대로8길,86,3.0,4.0,NaN,...,4.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,2.0,20
28278,2021,4,A,골목상권,1000547,중앙로51길,54,4.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
28279,2021,4,A,골목상권,1000493,양화진길,97,5.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,25

In [86]:
df = pd.concat([temp, temp2], ignore_index=True)
df

,기준_년_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,...,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,기준_분기_코드
0,2021,A,골목상권,1000862,방배로18길,8,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3
1,2021,A,골목상권,1000611,개봉로17다길,17,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,3
2,2021,A,골목상권,1000606,화곡로44나길,11,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3
3,2021,A,골목상권,1000602,초원로16길,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3
4,2021,A,골목상권,1000601,초록마을로8길,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452,2021,A,골목상권,1000573,곰달래로60길,102,2.0,3.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,4
2453,2021,A,골목상권,1000559,강서로45길,92,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,16.0,4
2454,2021,A,골목상권,1000580,공항대로8길,86,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,2.0,20.0,4
2455,2021,A,골목상권,1000547,중앙로51길,54,4.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,4
2456,2021,A,골목상권,1000493,양화진길,97,5.0,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,25.0,4

In [87]:
df.columns

Index(['기준_년_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '집객시설_수',
       '관공서_수', '은행_수', '종합병원_수', '일반_병원_수', '약국_수', '유치원_수', '초등학교_수',
       '중학교_수', '고등학교_수', '대학교_수', '백화점_수', '슈퍼마켓_수', '극장_수', '숙박_시설_수',
       '공항_수', '철도_역_수', '버스_터미널_수', '지하철_역_수', '버스_정거장_수', '기준_분기_코드'],
      dtype='object')

In [88]:
df = pd.merge(df, area, how='left')
df

,기준_년_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,...,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,기준_분기_코드,시군구_코드,행정동_코드,행정동_코드_명,시군구_코드_명
0,2021,A,골목상권,1000862,방배로18길,8,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,3,11650.0,11650600.0,방배1동,서초구
1,2021,A,골목상권,1000611,개봉로17다길,17,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,7.0,3,11530.0,11530750.0,개봉2동,구로구
2,2021,A,골목상권,1000606,화곡로44나길,11,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,3,11500.0,11500591.0,화곡6동,강서구
3,2021,A,골목상권,1000602,초원로16길,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,3,11500.0,11500630.0,방화1동,강서구
4,2021,A,골목상권,1000601,초록마을로8길,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,3,11500.0,11500590.0,화곡본동,강서구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2457,2021,A,골목상권,1000573,곰달래로60길,102,2.0,3.0,1.0,NaN,...,NaN,NaN,NaN,NaN,12.0,4,11500.0,11500570.0,화곡4동,강서구
2458,2021,A,골목상권,1000559,강서로45길,92,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,1.0,16.0,4,11500.0,11500560.0,화곡3동,강서구
2459,2021,A,골목상권,1000580,공항대로8길,86,3.0,4.0,NaN,NaN,...,8.0,NaN,NaN,2.0,20.0,4,11500.0,11500620.0,공항동,강서구
2460,2021,A,골목상권,1000547,중앙로51길,54,4.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,4,11470.0,11470570.0,신월2동,양천구
2461,2021,A,골목상권,1000493,양화진길,97,5.0,6.0,NaN,NaN,...,NaN,NaN,NaN,2.0,25.0,4,11440.0,11440680.0,합정동,마포구

In [89]:
df.drop(['기준_년_코드', '상권_구분_코드', '상권_구분_코드_명', '시군구_코드', '행정동_코드', '기준_분기_코드'], axis=1, inplace=True)
df

,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,...,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,행정동_코드_명,시군구_코드_명
0,1000862,방배로18길,8,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,방배1동,서초구
1,1000611,개봉로17다길,17,NaN,1.0,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,개봉2동,구로구
2,1000606,화곡로44나길,11,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,화곡6동,강서구
3,1000602,초원로16길,5,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,방화1동,강서구
4,1000601,초록마을로8길,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,화곡본동,강서구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2457,1000573,곰달래로60길,102,2.0,3.0,1.0,NaN,22.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,화곡4동,강서구
2458,1000559,강서로45길,92,NaN,4.0,NaN,NaN,12.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,16.0,화곡3동,강서구
2459,1000580,공항대로8길,86,3.0,4.0,NaN,NaN,7.0,1.0,1.0,...,NaN,NaN,NaN,8.0,NaN,NaN,2.0,20.0,공항동,강서구
2460,1000547,중앙로51길,54,4.0,1.0,NaN,NaN,9.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,신월2동,양천구
2461,1000493,양화진길,97,5.0,6.0,NaN,NaN,11.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,25.0,합정동,마포구

In [90]:
df.isna().sum()

상권_코드          0
상권_코드_명        0
집객시설_수         0
관공서_수        973
은행_수        1088
종합병원_수      2327
일반_병원_수     2001
약국_수         453
유치원_수       1783
초등학교_수      1627
중학교_수       1959
고등학교_수      2063
대학교_수       2147
백화점_수       2440
슈퍼마켓_수      2142
극장_수        2460
숙박_시설_수     2078
공항_수        2457
철도_역_수      2462
버스_터미널_수    2459
지하철_역_수     1817
버스_정거장_수     320
행정동_코드_명       1
시군구_코드_명       1
dtype: int64

In [91]:
df['상권_코드'].value_counts()

1000862    2
1000698    2
1000720    2
1000476    2
1000475    2
          ..
1001126    1
1001101    1
1001102    1
1001113    1
1000969    1
Name: 상권_코드, Length: 1467, dtype: int64

In [96]:
df = df.drop_duplicates(['상권_코드'], keep='last')

In [97]:
df['상권_코드'].value_counts()

1001103    1
1000660    1
1000682    1
1000747    1
1000697    1
          ..
1000864    1
1000863    1
1000372    1
1000412    1
1000493    1
Name: 상권_코드, Length: 1467, dtype: int64

In [98]:
df = df.groupby(['시군구_코드_명', '행정동_코드_명', '상권_코드', '상권_코드_명']).mean()
df

                                    집객시설_수  관공서_수  은행_수  종합병원_수  일반_병원_수  \
시군구_코드_명 행정동_코드_명 상권_코드   상권_코드_명
강남구      개포2동     1000892 개포로82길      61.0    1.0   3.0     NaN      NaN
                  1000928 선릉로18길      49.0    2.0   1.0     NaN      NaN
                  1001475 강남개포시장       8.0    NaN   1.0     NaN      NaN
         개포4동     1000889 개포로17길      84.0    4.0  10.0     NaN      NaN
                  1000890 개포로20길      94.0    1.0  11.0     NaN      NaN
...                                    ...    ...   ...     ...      ...
중랑구      중화2동     1000231 동일로123길    131.0    4.0   3.0     NaN      1.0
                  1000233 동일로139가길   108.0    4.0   4.0     NaN      NaN
                  1000234 동일로139길     87.0    4.0   4.0     NaN      NaN
                  1000251 봉화산로4길     113.0    4.0   3.0     NaN      NaN
                  1001334 태능시장         9.0    NaN   NaN     NaN      NaN

                                    약국_수  유치원_수  초등학교_수  중학교_수  고등학교_수  대학교_수  \
시군구_코드_명 행정동_코드_명 상권_코드   상권_코드_명
강남구      개포2동     1000892 개포로82길     4.0    1.0     1.0    1.0     1.0    NaN
                  1000928 선릉로18길     3.0    1.0     2.0    1.0     2.0    NaN
                  1001475 강남개포시장     NaN    NaN     NaN    NaN     NaN    NaN
         개포4동     1000889 개포로17길     6.0    NaN     1.0    1.0     NaN    NaN
                  1000890 개포로20길     7.0    NaN     1.0    1.0     1.0    NaN
...                                  ...    ...     ...    ...     ...    ...
중랑구      중화2동     1000231 동일로123길   16.0    1.0     NaN    1.0     NaN    NaN
                  1000233 동일로139가길  12.0    NaN     2.0    1.0     NaN    NaN
                  1000234 동일로139길    9.0    NaN     NaN    NaN     NaN    NaN
                  1000251 봉화산로4길    13.0    NaN     NaN    1.0     NaN    NaN
                  1001334 태능시장       2.0    NaN     NaN    NaN     NaN    NaN

                                    백화점_수  슈퍼마켓_수  극장_수  숙박_시설_수  공항_수  \
시군구_코드_명 행정동_코드_명 상권_코드   상권_코드_명
강남구      개포2동     1000892 개포로82길      NaN     NaN   NaN      NaN   NaN
                  1000928 선릉로18길      NaN     NaN   NaN      NaN   NaN
                  1001475 강남개포시장      NaN     NaN   NaN      NaN   NaN
         개포4동     1000889 개포로17길      NaN     NaN   NaN      NaN   NaN
                  1000890 개포로20길      NaN     NaN   NaN      NaN   NaN
...                                   ...     ...   ...      ...   ...
중랑구      중화2동     1000231 동일로123길     NaN     1.0   NaN      1.0   NaN
                  1000233 동일로139가길    NaN     1.0   NaN      NaN   NaN
                  1000234 동일로139길     NaN     1.0   NaN      NaN   NaN
                  1000251 봉화산로4길      NaN     1.0   NaN      NaN   NaN
                  1001334 태능시장        NaN     NaN   NaN      NaN   NaN

                                    철도_역_수  버스_터미널_수  지하철_역_수  버스_정거장_수
시군구_코드_명 행정동_코드_명 상권_코드   상권_코드_명
강남구      개포2동     1000892 개포로82길       NaN       NaN      1.0      21.0
                  1000928 선릉로18길       NaN       NaN      NaN      25.0
                  1001475 강남개포시장       NaN       NaN      NaN       2.0
         개포4동     1000889 개포로17길       NaN       NaN      NaN      26.0
                  1000890 개포로20길       NaN       NaN      NaN      32.0
...                                    ...       ...      ...       ...
중랑구      중화2동     1000231 동일로123길      NaN       NaN      3.0      30.0
                  1000233 동일로139가길     NaN       NaN      1.0      27.0
                  1000234 동일로139길      NaN       NaN      1.0      24.0
                  1000251 봉화산로4길       NaN       NaN      3.0      32.0
                  1001334 태능시장         NaN       NaN      NaN       1.0

[1466 rows x 20 columns]

In [99]:
df.fillna(0, inplace=True)
df

                                    집객시설_수  관공서_수  은행_수  종합병원_수  일반_병원_수  \
시군구_코드_명 행정동_코드_명 상권_코드   상권_코드_명
강남구      개포2동     1000892 개포로82길      61.0    1.0   3.0     0.0      0.0
                  1000928 선릉로18길      49.0    2.0   1.0     0.0      0.0
                  1001475 강남개포시장       8.0    0.0   1.0     0.0      0.0
         개포4동     1000889 개포로17길      84.0    4.0  10.0     0.0      0.0
                  1000890 개포로20길      94.0    1.0  11.0     0.0      0.0
...                                    ...    ...   ...     ...      ...
중랑구      중화2동     1000231 동일로123길    131.0    4.0   3.0     0.0      1.0
                  1000233 동일로139가길   108.0    4.0   4.0     0.0      0.0
                  1000234 동일로139길     87.0    4.0   4.0     0.0      0.0
                  1000251 봉화산로4길     113.0    4.0   3.0     0.0      0.0
                  1001334 태능시장         9.0    0.0   0.0     0.0      0.0

                                    약국_수  유치원_수  초등학교_수  중학교_수  고등학교_수  대학교_수  \
시군구_코드_명 행정동_코드_명 상권_코드   상권_코드_명
강남구      개포2동     1000892 개포로82길     4.0    1.0     1.0    1.0     1.0    0.0
                  1000928 선릉로18길     3.0    1.0     2.0    1.0     2.0    0.0
                  1001475 강남개포시장     0.0    0.0     0.0    0.0     0.0    0.0
         개포4동     1000889 개포로17길     6.0    0.0     1.0    1.0     0.0    0.0
                  1000890 개포로20길     7.0    0.0     1.0    1.0     1.0    0.0
...                                  ...    ...     ...    ...     ...    ...
중랑구      중화2동     1000231 동일로123길   16.0    1.0     0.0    1.0     0.0    0.0
                  1000233 동일로139가길  12.0    0.0     2.0    1.0     0.0    0.0
                  1000234 동일로139길    9.0    0.0     0.0    0.0     0.0    0.0
                  1000251 봉화산로4길    13.0    0.0     0.0    1.0     0.0    0.0
                  1001334 태능시장       2.0    0.0     0.0    0.0     0.0    0.0

                                    백화점_수  슈퍼마켓_수  극장_수  숙박_시설_수  공항_수  \
시군구_코드_명 행정동_코드_명 상권_코드   상권_코드_명
강남구      개포2동     1000892 개포로82길      0.0     0.0   0.0      0.0   0.0
                  1000928 선릉로18길      0.0     0.0   0.0      0.0   0.0
                  1001475 강남개포시장      0.0     0.0   0.0      0.0   0.0
         개포4동     1000889 개포로17길      0.0     0.0   0.0      0.0   0.0
                  1000890 개포로20길      0.0     0.0   0.0      0.0   0.0
...                                   ...     ...   ...      ...   ...
중랑구      중화2동     1000231 동일로123길     0.0     1.0   0.0      1.0   0.0
                  1000233 동일로139가길    0.0     1.0   0.0      0.0   0.0
                  1000234 동일로139길     0.0     1.0   0.0      0.0   0.0
                  1000251 봉화산로4길      0.0     1.0   0.0      0.0   0.0
                  1001334 태능시장        0.0     0.0   0.0      0.0   0.0

                                    철도_역_수  버스_터미널_수  지하철_역_수  버스_정거장_수
시군구_코드_명 행정동_코드_명 상권_코드   상권_코드_명
강남구      개포2동     1000892 개포로82길       0.0       0.0      1.0      21.0
                  1000928 선릉로18길       0.0       0.0      0.0      25.0
                  1001475 강남개포시장       0.0       0.0      0.0       2.0
         개포4동     1000889 개포로17길       0.0       0.0      0.0      26.0
                  1000890 개포로20길       0.0       0.0      0.0      32.0
...                                    ...       ...      ...       ...
중랑구      중화2동     1000231 동일로123길      0.0       0.0      3.0      30.0
                  1000233 동일로139가길     0.0       0.0      1.0      27.0
                  1000234 동일로139길      0.0       0.0      1.0      24.0
                  1000251 봉화산로4길       0.0       0.0      3.0      32.0
                  1001334 태능시장         0.0       0.0      0.0       1.0

[1466 rows x 20 columns]

In [100]:
df.dtypes

집객시설_수      float64
관공서_수       float64
은행_수        float64
종합병원_수      float64
일반_병원_수     float64
약국_수        float64
유치원_수       float64
초등학교_수      float64
중학교_수       float64
고등학교_수      float64
대학교_수       float64
백화점_수       float64
슈퍼마켓_수      float64
극장_수        float64
숙박_시설_수     float64
공항_수        float64
철도_역_수      float64
버스_터미널_수    float64
지하철_역_수     float64
버스_정거장_수    float64
dtype: object

In [101]:
df = df.astype('int64')
df.dtypes

집객시설_수      int64
관공서_수       int64
은행_수        int64
종합병원_수      int64
일반_병원_수     int64
약국_수        int64
유치원_수       int64
초등학교_수      int64
중학교_수       int64
고등학교_수      int64
대학교_수       int64
백화점_수       int64
슈퍼마켓_수      int64
극장_수        int64
숙박_시설_수     int64
공항_수        int64
철도_역_수      int64
버스_터미널_수    int64
지하철_역_수     int64
버스_정거장_수    int64
dtype: object

In [102]:
df.describe()

,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,중학교_수,고등학교_수,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
count,1466.000000,1466.000000,1466.000000,1466.000000,1466.000000,1466.000000,1466.000000,1466.000000,1466.000000,1466.000000,1466.000000,1466.000000,1466.000000,1466.000000,1466.000000,1466.000000,1466.0,1466.000000,1466.000000,1466.000000
mean,71.787858,2.656889,2.941337,0.085266,0.408595,8.103001,0.598226,0.759891,0.416780,0.371078,1.684857,0.013643,0.321965,0.001364,0.641883,0.042292,0.0,0.002046,0.642565,16.405866
std,45.804817,2.319882,3.398349,0.286609,0.764508,6.010653,0.918656,0.823495,0.653866,0.732537,6.465894,0.116042,0.885234,0.036923,2.159666,0.802461,0.0,0.045206,0.963038,11.936279
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,35.000000,1.000000,1.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,5.000000
50%,74.000000,2.000000,2.000000,0.000000,0.000000,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,16.000000
75%,101.000000,4.000000,4.000000,0.000000,1.000000,12.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,25.000000
max,426.000000,17.000000,57.000000,2.000000,5.000000,43.000000,5.000000,4.000000,4.000000,7.000000,72.000000,1.000000,11.000000,1.000000,27.000000,23.000000,0.0,1.000000,6.000000,68.000000