In [94]:
import pandas as pd
import numpy as np

# 데이터 전처리

### 구_상권코드 shp to csv

In [95]:
# import geopandas as gpd

In [96]:
# gdf = gpd.GeoDataFrame.from_file('shp_data/서울시_우리마을가게_상권분석서비스(구_상권영역)/TBGIS_TRDAR_RELM.shp')
# gdf.to_csv('./dataset/서울시 우리마을가게 상권분석서비스(구_상권영역).csv', encoding='utf-8', index=False)

## 행정동 코드명, 시군구 코드명 추가

In [97]:
import chardet
import pandas as pd
filename = 'dataset/SCF_20_20220826_C_001.csv'
with open(filename, 'rb') as f:
    result = chardet.detect(f.readline())  # or read() if the file is small.
    print(result['encoding'])

EUC-KR

In [98]:
dong_dataset = pd.read_excel('dataset/행정동_법정동_20220901.xlsx')
dong_dataset

            행정동코드      시도명  시군구명   읍면동명       법정동코드    동리명      생성일자  말소일자
0      1100000000    서울특별시   NaN    NaN  1100000000  서울특별시  19880423   NaN
1      1111000000    서울특별시   종로구    NaN  1111000000    종로구  19880423   NaN
2      1111051500    서울특별시   종로구  청운효자동  1111010100    청운동  20081101   NaN
3      1111051500    서울특별시   종로구  청운효자동  1111010200    신교동  20081101   NaN
4      1111051500    서울특별시   종로구  청운효자동  1111010300    궁정동  20081101   NaN
...           ...      ...   ...    ...         ...    ...       ...   ...
21749  5013061000  제주특별자치도  서귀포시    중문동  5013011400    대포동  20060701   NaN
21750  5013061000  제주특별자치도  서귀포시    중문동  5013011800    하원동  20060701   NaN
21751  5013062000  제주특별자치도  서귀포시    예래동  5013011900    색달동  20060701   NaN
21752  5013062000  제주특별자치도  서귀포시    예래동  5013012000    상예동  20060701   NaN
21753  5013062000  제주특별자치도  서귀포시    예래동  5013012100    하예동  20060701   NaN

[21754 rows x 8 columns]

In [99]:
dong_dataset.drop(['생성일자', '말소일자'], axis=1, inplace=True)
dong_dataset.rename(columns={'동리명':'법정동명'}, inplace=True)
dong_dataset

            행정동코드      시도명  시군구명   읍면동명       법정동코드   법정동명
0      1100000000    서울특별시   NaN    NaN  1100000000  서울특별시
1      1111000000    서울특별시   종로구    NaN  1111000000    종로구
2      1111051500    서울특별시   종로구  청운효자동  1111010100    청운동
3      1111051500    서울특별시   종로구  청운효자동  1111010200    신교동
4      1111051500    서울특별시   종로구  청운효자동  1111010300    궁정동
...           ...      ...   ...    ...         ...    ...
21749  5013061000  제주특별자치도  서귀포시    중문동  5013011400    대포동
21750  5013061000  제주특별자치도  서귀포시    중문동  5013011800    하원동
21751  5013062000  제주특별자치도  서귀포시    예래동  5013011900    색달동
21752  5013062000  제주특별자치도  서귀포시    예래동  5013012000    상예동
21753  5013062000  제주특별자치도  서귀포시    예래동  5013012100    하예동

[21754 rows x 6 columns]

In [100]:
dong_dataset['행정동코드'] = dong_dataset['행정동코드']/100
dong_dataset['법정동코드'] = dong_dataset['법정동코드']/100
dong_dataset = dong_dataset[dong_dataset['시도명'] == '서울특별시']
dong_dataset = dong_dataset.dropna(axis=0)
dong_dataset

          행정동코드    시도명 시군구명   읍면동명       법정동코드 법정동명
2    11110515.0  서울특별시  종로구  청운효자동  11110101.0  청운동
3    11110515.0  서울특별시  종로구  청운효자동  11110102.0  신교동
4    11110515.0  서울특별시  종로구  청운효자동  11110103.0  궁정동
5    11110515.0  서울특별시  종로구  청운효자동  11110104.0  효자동
6    11110515.0  서울특별시  종로구  청운효자동  11110105.0  창성동
..          ...    ...  ...    ...         ...  ...
764  11740650.0  서울특별시  강동구  성내제2동  11740108.0  성내동
765  11740660.0  서울특별시  강동구  성내제3동  11740108.0  성내동
766  11740685.0  서울특별시  강동구     길동  11740105.0   길동
767  11740690.0  서울특별시  강동구  둔촌제1동  11740106.0  둔촌동
768  11740700.0  서울특별시  강동구  둔촌제2동  11740106.0  둔촌동

[743 rows x 6 columns]

In [101]:
# df = pd.read_csv('dataset/법정동코드.csv')
# df

In [102]:
# import chardet
# import pandas as pd
# filename = 'dataset/서울시 주요 공원현황.csv'
# with open(filename, 'rb') as f:
#     result = chardet.detect(f.readline())  # or read() if the file is small.
#     print(result['encoding'])

In [103]:
park_temp = pd.read_csv('dataset/전국도시공원정보표준데이터.csv', encoding='EUC-KR')
# 서울인 데이터만 추리기
park_temp = park_temp[park_temp['제공기관명'].str.contains('서울')]
park_temp

,관리번호,공원명,공원구분,소재지도로명주소,소재지지번주소,위도,경도,공원면적,공원보유시설(운동시설),공원보유시설(유희시설),공원보유시설(편익시설),공원보유시설(교양시설),공원보유시설(기타시설),지정고시일,관리기관명,전화번호,데이터기준일자,제공기관코드,제공기관명
294,11440-00049,목련어린이공원,어린이공원,NaN,서울특별시 마포구 상암동1742,37.587380,126.880225,1501.0,NaN,NaN,NaN,NaN,NaN,2006-09-07,서울특별시 마포구,02-3153-9554,2022-04-19,3130000,서울특별시 마포구
295,11440-00050,산수유어린이공원,어린이공원,NaN,서울특별시 마포구 상암동1744,37.585485,126.879008,2011.0,NaN,NaN,NaN,NaN,NaN,2006-09-07,서울특별시 마포구,02-3153-9554,2022-04-19,3130000,서울특별시 마포구
296,11440-00051,산딸나무어린이공원,어린이공원,NaN,서울특별시 마포구 상암동1753,37.583547,126.877927,1499.0,NaN,NaN,NaN,NaN,NaN,2006-09-07,서울특별시 마포구,02-3153-9554,2022-04-19,3130000,서울특별시 마포구
297,11440-00052,애오개도담어린이공원,어린이공원,NaN,서울특별시 마포구 아현동 800-6,37.553433,126.958529,3212.0,NaN,NaN,NaN,NaN,NaN,2006-07-13,서울특별시 마포구,02-3153-9554,2022-04-19,3130000,서울특별시 마포구
298,11440-00053,쌍룡산어린이공원,어린이공원,NaN,서울특별시 마포구 아현동 769,37.552173,126.950512,5911.0,NaN,NaN,NaN,NaN,NaN,2005-12-29,서울특별시 마포구,02-3153-9554,2022-04-19,3130000,서울특별시 마포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18360,11500-00001,우장,근린공원,서울특별시 강서구 우장산로 72,서울특별시 강서구 화곡동 산60-1,37.552820,126.843808,359435.2,NaN,NaN,NaN,NaN,NaN,1971-08-06,서울특별시 강서구청,02-2600-4185,2022-03-16,3150000,서울특별시 강서구
18361,11500-00002,궁산,근린공원,NaN,서울특별시 강서구 가양동 산4-7,37.574254,126.841332,135002.7,NaN,NaN,NaN,NaN,NaN,1977-07-09,서울특별시 강서구청,02-2600-4185,2022-03-16,3150000,서울특별시 강서구
18362,11500-00003,염창,근린공원,서울특별시 강서구 양천로67길 43,서울특별시 강서구 염창동 산24-1,37.557007,126.869821,112070.0,NaN,NaN,NaN,NaN,NaN,1977-07-09,서울특별시 강서구청,02-2600-4186,2022-03-16,3150000,서울특별시 강서구
18363,11500-00004,꿩고개,근린공원,NaN,서울특별시 강서구 방화동 산97-1,37.577983,126.808105,180000.0,NaN,NaN,NaN,NaN,NaN,1977-07-09,서울특별시 강서구청,02-2600-4186,2022-03-16,3150000,서울특별시 강서구
18364,11500-00005,봉제산,근린공원,NaN,서울특별시 강서구 화곡동 산1,37.539906,126.849751,917190.0,NaN,NaN,NaN,NaN,NaN,1977-07-09,서울특별시 강서구청,02-2600-4184,2022-03-16,3150000,서울특별시 강서구

In [104]:
park_temp['공원구분'].value_counts()

어린이공원     1068
근린공원       331
소공원        229
마을마당        49
기타          33
기타공원        29
문화공원        24
역사공원        16
수변공원         3
체육공원         3
도시자연공원       2
주제공원         2
도시농업공원       2
묘지공원         1
Name: 공원구분, dtype: int64

In [105]:
# 어린이공원 => 동네 놀이터 // 제외
park_temp = park_temp[park_temp['공원구분'] != '어린이공원']
park_temp

,관리번호,공원명,공원구분,소재지도로명주소,소재지지번주소,위도,경도,공원면적,공원보유시설(운동시설),공원보유시설(유희시설),공원보유시설(편익시설),공원보유시설(교양시설),공원보유시설(기타시설),지정고시일,관리기관명,전화번호,데이터기준일자,제공기관코드,제공기관명
304,11440-00059,공덕소공원,소공원,NaN,서울특별시 마포구 공덕동 475-1일대,37.548506,126.954637,1310.0,NaN,NaN,NaN,NaN,NaN,1981-11-13,서울특별시 마포구,02-3153-9554,2022-04-19,3130000,서울특별시 마포구
305,11440-00060,만리재소공원,소공원,NaN,서울특별시 마포구 신공덕동 176,37.544438,126.955225,883.0,NaN,NaN,NaN,NaN,NaN,2007-04-12,서울특별시 마포구,02-3153-9554,2022-04-19,3130000,서울특별시 마포구
306,11440-00061,단풍소공원,소공원,NaN,서울특별시 마포구 공덕동 470-3,37.548729,126.953344,274.0,NaN,NaN,NaN,NaN,NaN,2006-12-28,서울특별시 마포구,02-3153-9554,2022-04-19,3130000,서울특별시 마포구
307,11440-00062,아현새싹소공원,소공원,NaN,서울특별시 마포구 아현동 786,37.551847,126.954409,613.0,NaN,NaN,NaN,NaN,NaN,2005-12-29,서울특별시 마포구,02-3153-9554,2022-04-19,3130000,서울특별시 마포구
308,11440-00063,아현초록소공원,소공원,NaN,서울특별시 마포구 아현동 776,37.554389,126.953208,1035.0,NaN,NaN,NaN,NaN,NaN,2005-12-29,서울특별시 마포구,02-3153-9554,2022-04-19,3130000,서울특별시 마포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18360,11500-00001,우장,근린공원,서울특별시 강서구 우장산로 72,서울특별시 강서구 화곡동 산60-1,37.552820,126.843808,359435.2,NaN,NaN,NaN,NaN,NaN,1971-08-06,서울특별시 강서구청,02-2600-4185,2022-03-16,3150000,서울특별시 강서구
18361,11500-00002,궁산,근린공원,NaN,서울특별시 강서구 가양동 산4-7,37.574254,126.841332,135002.7,NaN,NaN,NaN,NaN,NaN,1977-07-09,서울특별시 강서구청,02-2600-4185,2022-03-16,3150000,서울특별시 강서구
18362,11500-00003,염창,근린공원,서울특별시 강서구 양천로67길 43,서울특별시 강서구 염창동 산24-1,37.557007,126.869821,112070.0,NaN,NaN,NaN,NaN,NaN,1977-07-09,서울특별시 강서구청,02-2600-4186,2022-03-16,3150000,서울특별시 강서구
18363,11500-00004,꿩고개,근린공원,NaN,서울특별시 강서구 방화동 산97-1,37.577983,126.808105,180000.0,NaN,NaN,NaN,NaN,NaN,1977-07-09,서울특별시 강서구청,02-2600-4186,2022-03-16,3150000,서울특별시 강서구
18364,11500-00005,봉제산,근린공원,NaN,서울특별시 강서구 화곡동 산1,37.539906,126.849751,917190.0,NaN,NaN,NaN,NaN,NaN,1977-07-09,서울특별시 강서구청,02-2600-4184,2022-03-16,3150000,서울특별시 강서구

In [106]:
# 필요한 컬럼만 추출
park_temp = park_temp[['공원명','소재지지번주소']]
park_temp

           공원명                소재지지번주소
304      공덕소공원  서울특별시 마포구 공덕동 475-1일대
305     만리재소공원     서울특별시 마포구 신공덕동 176
306      단풍소공원    서울특별시 마포구 공덕동 470-3
307    아현새싹소공원      서울특별시 마포구 아현동 786
308    아현초록소공원      서울특별시 마포구 아현동 776
...        ...                    ...
18360       우장    서울특별시 강서구 화곡동 산60-1
18361       궁산     서울특별시 강서구 가양동 산4-7
18362       염창    서울특별시 강서구 염창동 산24-1
18363      꿩고개    서울특별시 강서구 방화동 산97-1
18364      봉제산       서울특별시 강서구 화곡동 산1

[724 rows x 2 columns]

In [107]:
# 동 데이터 추출을 위해 str.split()
park_list = park_temp['소재지지번주소'].str.split(' ')
park_list

304      [서울특별시, 마포구, 공덕동, 475-1일대]
305         [서울특별시, 마포구, 신공덕동, 176]
306        [서울특별시, 마포구, 공덕동, 470-3]
307          [서울특별시, 마포구, 아현동, 786]
308          [서울특별시, 마포구, 아현동, 776]
                    ...
18360      [서울특별시, 강서구, 화곡동, 산60-1]
18361       [서울특별시, 강서구, 가양동, 산4-7]
18362      [서울특별시, 강서구, 염창동, 산24-1]
18363      [서울특별시, 강서구, 방화동, 산97-1]
18364         [서울특별시, 강서구, 화곡동, 산1]
Name: 소재지지번주소, Length: 724, dtype: object

In [108]:
# '시군구명', '법정동명' 컬럼 추가
park_temp['시군구명'] = park_list.str.get(1)
park_temp['법정동명'] = park_list.str.get(2)
park_temp

C:\Users\User\AppData\Local\Temp\ipykernel_11980\1979113864.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  park_temp['시군구명'] = park_list.str.get(1)
C:\Users\User\AppData\Local\Temp\ipykernel_11980\1979113864.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  park_temp['법정동명'] = park_list.str.get(2)

           공원명                소재지지번주소 시군구명  법정동명
304      공덕소공원  서울특별시 마포구 공덕동 475-1일대  마포구   공덕동
305     만리재소공원     서울특별시 마포구 신공덕동 176  마포구  신공덕동
306      단풍소공원    서울특별시 마포구 공덕동 470-3  마포구   공덕동
307    아현새싹소공원      서울특별시 마포구 아현동 786  마포구   아현동
308    아현초록소공원      서울특별시 마포구 아현동 776  마포구   아현동
...        ...                    ...  ...   ...
18360       우장    서울특별시 강서구 화곡동 산60-1  강서구   화곡동
18361       궁산     서울특별시 강서구 가양동 산4-7  강서구   가양동
18362       염창    서울특별시 강서구 염창동 산24-1  강서구   염창동
18363      꿩고개    서울특별시 강서구 방화동 산97-1  강서구   방화동
18364      봉제산       서울특별시 강서구 화곡동 산1  강서구   화곡동

[724 rows x 4 columns]

In [109]:
# 데이터프레임으로 만들기
park = park_temp['법정동명'].value_counts().to_frame()
park.reset_index(inplace=True)
park.columns = ['법정동명', '공원수']
park

     법정동명  공원수
0     마천동   12
1     역삼동   11
2     문정동   11
3     신길동   10
4     진관동    9
..    ...  ...
277   대조동    1
278  신사2동    1
279   연희동    1
280   갈현동    1
281   염창동    1

[282 rows x 2 columns]

In [110]:
# 서울시 노래연습장업 인허가 정보
import chardet
import pandas as pd
filename = 'dataset/서울시 노래연습장업 인허가 정보.csv'
with open(filename, 'rb') as f:
    result = chardet.detect(f.readline())  # or read() if the file is small.
    print(result['encoding'])

EUC-KR

In [111]:
sr_temp = pd.read_csv('dataset/서울시 노래연습장업 인허가 정보.csv', encoding='EUC-KR')
# 영업중인 데이터만 추리기
sr_temp = sr_temp[sr_temp['영업상태명'] == '영업/정상']
sr_temp

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,음향시설여부,편의시설여부,소방시설여부,총게임기수,기존게임업외업종명,제공게임물명,공연장형태구분명,품목명,최초등록시점,지역구분명
1,3140000,CDFF3242052000000001,20000226,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3180000,CDFF3242052022000002,20220516,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3170000,CDFF3242051999000029,19991025,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3130000,CDFF3242052022000001,20220411,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3030000,CDFF3242052014000002,20140603,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12511,3160000,CDFF3242052000000001,20000308,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12512,3080000,CDFF3242052013000004,20130206,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12514,3070000,CDFF3242052010000002,20100303,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12515,3160000,CDFF3242052001000036,20010313,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12516,3240000,CDFF3242051999000034,19990419,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
sr_temp.columns

Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)', '문화체육업종명', '문화사업자구분명', '총층수',
       '주변환경명', '제작취급품목내용', '시설면적', '지상층수', '지하층수', '건물용도명', '통로너비', '조명시설조도',
       '노래방실수', '청소년실수', '비상계단여부', '비상구여부', '자동환기여부', '청소년실여부', '특수조명여부',
       '방음시설여부', '비디오재생기명', '조명시설유무', '음향시설여부', '편의시설여부', '소방시설여부', '총게임기수',
       '기존게임업외업종명', '제공게임물명', '공연장형태구분명', '품목명', '최초등록시점', '지역구분명'],
      dtype='object')

In [113]:
# 필요한 컬럼만 추출
sr_temp = sr_temp[['지번주소','사업장명']]
sr_temp

                              지번주소       사업장명
1              서울특별시 양천구 신정동 947-5   금잔디노래연습장
2      서울특별시 영등포구 대림동 1048-11 해성빌딩     수노래연습장
3         서울특별시 금천구 독산동 378-470 지하        신바람
4             서울특별시 마포구 성산동 279-17    쿨 노래연습장
5            서울특별시 성동구 성수동1가 248-1    자두노래연습장
...                            ...        ...
12511      서울특별시 구로구 구로동 142-76 지층  자기야 노래연습장
12512        서울특별시 강북구 미아동 50-1 2층       차플러스
12514           서울특별시 성북구 동선동1가 30   시티 노래연습장
12515    서울특별시 구로구 구로동 486-45 (2층)    스타노래연습장
12516          서울특별시 강동구 명일동 249-0          킹

[5648 rows x 2 columns]

In [114]:
# 동 데이터 추출을 위해 str.split()
sr_list = sr_temp['지번주소'].str.split(' ')
sr_list

1                 [서울특별시, 양천구, 신정동, 947-5]
2        [서울특별시, 영등포구, 대림동, 1048-11, 해성빌딩]
3           [서울특별시, 금천구, 독산동, 378-470, 지하]
4                [서울특별시, 마포구, 성산동, 279-17]
5               [서울특별시, 성동구, 성수동1가, 248-1]
                       ...
12511        [서울특별시, 구로구, 구로동, 142-76, 지층]
12512          [서울특별시, 강북구, 미아동, 50-1, 2층]
12514              [서울특별시, 성북구, 동선동1가, 30]
12515      [서울특별시, 구로구, 구로동, 486-45, (2층)]
12516             [서울특별시, 강동구, 명일동, 249-0]
Name: 지번주소, Length: 5648, dtype: object

In [115]:
# '시군구명', '법정동명' 컬럼 추가
sr_temp['시군구명'] = sr_list.str.get(1)
sr_temp['법정동명'] = sr_list.str.get(2)
sr_temp

C:\Users\User\AppData\Local\Temp\ipykernel_11980\2793309231.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sr_temp['시군구명'] = sr_list.str.get(1)
C:\Users\User\AppData\Local\Temp\ipykernel_11980\2793309231.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sr_temp['법정동명'] = sr_list.str.get(2)

                              지번주소       사업장명  시군구명   법정동명
1              서울특별시 양천구 신정동 947-5   금잔디노래연습장   양천구    신정동
2      서울특별시 영등포구 대림동 1048-11 해성빌딩     수노래연습장  영등포구    대림동
3         서울특별시 금천구 독산동 378-470 지하        신바람   금천구    독산동
4             서울특별시 마포구 성산동 279-17    쿨 노래연습장   마포구    성산동
5            서울특별시 성동구 성수동1가 248-1    자두노래연습장   성동구  성수동1가
...                            ...        ...   ...    ...
12511      서울특별시 구로구 구로동 142-76 지층  자기야 노래연습장   구로구    구로동
12512        서울특별시 강북구 미아동 50-1 2층       차플러스   강북구    미아동
12514           서울특별시 성북구 동선동1가 30   시티 노래연습장   성북구  동선동1가
12515    서울특별시 구로구 구로동 486-45 (2층)    스타노래연습장   구로구    구로동
12516          서울특별시 강동구 명일동 249-0          킹   강동구    명일동

[5648 rows x 4 columns]

In [116]:
# 데이터프레임으로 만들기
sr = sr_temp['법정동명'].value_counts().to_frame()
sr.reset_index(inplace=True)
sr.columns = ['법정동명', '노래방수']
sr

       법정동명  노래방수
0       신림동   163
1       수유동   161
2       화곡동   153
3       구로동   150
4       상계동   145
..      ...   ...
281  동소문동3가     1
282   삼선동1가     1
283     돈암동     1
284  동소문동5가     1
285     강일동     1

[286 rows x 2 columns]

In [117]:
df = pd.merge(park, sr, how='outer', on='법정동명')
df

       법정동명   공원수  노래방수
0       마천동  12.0  24.0
1       역삼동  11.0  65.0
2       문정동  11.0  34.0
3       신길동  10.0  65.0
4       진관동   9.0   3.0
..      ...   ...   ...
415   동선동4가   NaN   1.0
416   보문동7가   NaN   1.0
417  동소문동3가   NaN   1.0
418   삼선동1가   NaN   1.0
419  동소문동5가   NaN   1.0

[420 rows x 3 columns]

In [118]:
# 서울시 당구장업 인허가 정보
dang9_temp = pd.read_csv('dataset/서울시 당구장업 인허가 정보.csv', encoding='EUC-KR')
# 영업중인 데이터만 추리기
dang9_temp = dang9_temp[dang9_temp['영업상태명'] == '영업/정상']
dang9_temp

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,좌표정보(Y),문화체육업종명,공사립구분명,보험가입여부코드,지도자수,건축물동수,건축물연면적,회원모집총인원,세부업종명,법인명
5,3020000,CDFH3301082020000002,20200508,NaN,1,영업/정상,13,영업중,NaN,NaN,...,448589.603462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3010000,CDFH3301081997000015,19970714,NaN,1,영업/정상,13,영업중,NaN,NaN,...,451182.266913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3240000,CDFH3301082022000002,20220620,NaN,1,영업/정상,13,영업중,NaN,NaN,...,449150.358975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3220000,CDFH3301082022000001,20220415,NaN,1,영업/정상,13,영업중,NaN,NaN,...,444581.476632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3200000,CDFH3301082017000003,20170707,NaN,1,영업/정상,13,영업중,NaN,NaN,...,442198.112113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12463,3110000,CDFH3301082022000005,20220614,NaN,1,영업/정상,13,영업중,NaN,NaN,...,453489.729710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12464,3200000,CDFH3301082022000001,20220614,NaN,1,영업/정상,13,영업중,NaN,NaN,...,442822.980266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12466,3060000,CDFH3301082016000008,20160610,NaN,1,영업/정상,13,영업중,NaN,NaN,...,455451.570535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12468,3080000,CDFH3301082010000017,20100917,NaN,1,영업/정상,13,영업중,NaN,NaN,...,458881.498214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12473,3080000,CDFH3301082014000007,20141010,NaN,1,영업/정상,13,영업중,NaN,NaN,...,458484.569276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
dang9_temp.columns

Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)', '문화체육업종명', '공사립구분명',
       '보험가입여부코드', '지도자수', '건축물동수', '건축물연면적', '회원모집총인원', '세부업종명', '법인명'],
      dtype='object')

In [120]:
# 필요한 컬럼만 추출
dang9_temp = dang9_temp[['지번주소','사업장명']]
dang9_temp

                                지번주소        사업장명
5       서울특별시 용산구 이태원동 225-1 혜천상가 5층      삼거리당구장
7      서울특별시 중구 충무로5가 19-9 지하1층 102호        썬당구장
8                서울특별시 강동구 명일동 350-4      OK 당구장
11            서울특별시 강남구 대치동 983 태범빌딩      RS빌리어즈
12           서울특별시 관악구 봉천동 927-3 B1호      만방 당구장
...                              ...         ...
12463       서울특별시 은평구 수색동 379-1 서광빌딩      물빛 당구장
12464    서울특별시 관악구 봉천동 1717-3 관악푸르지오  에버 빌리어드 클럽
12466                            NaN      오션 당구장
12468          서울특별시 강북구 수유동 472-205      박's당구장
12473        서울특별시 강북구 번동 308-1 지하1층         볼클럽

[2876 rows x 2 columns]

In [121]:
# 동 데이터 추출을 위해 str.split()
dang9_list = dang9_temp['지번주소'].str.split(' ')
dang9_list

5         [서울특별시, 용산구, 이태원동, 225-1, 혜천상가, 5층]
7        [서울특별시, 중구, 충무로5가, 19-9, 지하1층, 102호]
8                    [서울특별시, 강동구, 명일동, 350-4]
11               [서울특별시, 강남구, 대치동, 983, 태범빌딩]
12              [서울특별시, 관악구, 봉천동, 927-3, B1호]
                         ...
12463          [서울특별시, 은평구, 수색동, 379-1, 서광빌딩]
12464       [서울특별시, 관악구, 봉천동, 1717-3, 관악푸르지오]
12466                                     NaN
12468              [서울특별시, 강북구, 수유동, 472-205]
12473           [서울특별시, 강북구, 번동, 308-1, 지하1층]
Name: 지번주소, Length: 2876, dtype: object

In [122]:
# '시군구명', '법정동명' 컬럼 추가
dang9_temp['시군구명'] = dang9_list.str.get(1)
dang9_temp['법정동명'] = dang9_list.str.get(2)
dang9_temp

C:\Users\User\AppData\Local\Temp\ipykernel_11980\3861668476.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dang9_temp['시군구명'] = dang9_list.str.get(1)
C:\Users\User\AppData\Local\Temp\ipykernel_11980\3861668476.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dang9_temp['법정동명'] = dang9_list.str.get(2)

                                지번주소        사업장명 시군구명   법정동명
5       서울특별시 용산구 이태원동 225-1 혜천상가 5층      삼거리당구장  용산구   이태원동
7      서울특별시 중구 충무로5가 19-9 지하1층 102호        썬당구장   중구  충무로5가
8                서울특별시 강동구 명일동 350-4      OK 당구장  강동구    명일동
11            서울특별시 강남구 대치동 983 태범빌딩      RS빌리어즈  강남구    대치동
12           서울특별시 관악구 봉천동 927-3 B1호      만방 당구장  관악구    봉천동
...                              ...         ...  ...    ...
12463       서울특별시 은평구 수색동 379-1 서광빌딩      물빛 당구장  은평구    수색동
12464    서울특별시 관악구 봉천동 1717-3 관악푸르지오  에버 빌리어드 클럽  관악구    봉천동
12466                            NaN      오션 당구장  NaN    NaN
12468          서울특별시 강북구 수유동 472-205      박's당구장  강북구    수유동
12473        서울특별시 강북구 번동 308-1 지하1층         볼클럽  강북구     번동

[2876 rows x 4 columns]

In [123]:
# 데이터프레임으로 만들기
dang9 = dang9_temp['법정동명'].value_counts().to_frame()
dang9.reset_index(inplace=True)
dang9.columns = ['법정동명', '당구장']
dang9

      법정동명  당구장
0      서초동   80
1      자양동   68
2      화곡동   60
3      양재동   52
4      화양동   50
..     ...  ...
311    이촌동    1
312    구수동    1
313    상수동    1
314    창전동    1
315  광희동1가    1

[316 rows x 2 columns]

In [124]:
df = pd.merge(df, dang9, how='outer', on='법정동명')
df

      법정동명   공원수  노래방수   당구장
0      마천동  12.0  24.0  10.0
1      역삼동  11.0  65.0  47.0
2      문정동  11.0  34.0  12.0
3      신길동  10.0  65.0  18.0
4      진관동   9.0   3.0   3.0
..     ...   ...   ...   ...
461  회현동2가   NaN   NaN   1.0
462    마포동   NaN   NaN   1.0
463     계동   NaN   NaN   1.0
464    구수동   NaN   NaN   1.0
465  광희동1가   NaN   NaN   1.0

[466 rows x 4 columns]

In [125]:
res_temp = pd.read_csv('dataset/서울시 일반음식점 인허가 정보.csv', encoding='CP949')
res_temp

,사업장명,지번주소,도로명주소,좌표정보(X),좌표정보(Y)
0,북악파크부페,서울특별시 종로구 평창동 110-1번지,서울특별시 종로구 평창길 352 (평창동),197993.2057,456584.6271
1,시민식당 2호점,서울특별시 종로구 인사동 98번지,서울특별시 종로구 종로11길 10 12층 (인사동),198681.5719,452050.2743
2,일번우동,서울특별시 종로구 종로6가 129-1번지,서울특별시 종로구 종로41길 10 (종로6가),200533.4536,452156.9003
3,서촌소국밥,서울특별시 종로구 통인동 27-2,서울특별시 종로구 필운대로6길 17-1 (통인동),197250.3854,453135.4513
4,빽다방 동대문역점,서울특별시 종로구 창신동 696-1,서울특별시 종로구 종로 289 (창신동),200811.9254,452162.5695
...,...,...,...,...,...
124986,20bucks,서울특별시 동대문구 이문동 316-2 지하1층,서울특별시 동대문구 휘경로2길 19 지하1층 (이문동),205294.1706,454765.2611
124987,DNJ,서울특별시 노원구 하계동 256-11 보스턴 산부인과,서울특별시 노원구 노원로 244 보스턴 산부인과 1층 (하계동),206490.5943,459688.0609
124988,별달맛집,서울특별시 강남구 신사동 609-1 지하1층,서울특별시 강남구 압구정로30길 23 (신사동지하1층),202534.5500,447079.2050
124989,메가엠지씨커피 신용산역점,서울특별시 용산구 한강로2가 116-1 1층,서울특별시 용산구 한강대로 130-3 1층 (한강로2가),197277.8630,447641.4505
124990,희래등반점,서울특별시 종로구 명륜3가 1-14,서울특별시 종로구 명륜길 31 (명륜3가),199506.1836,454029.3973

In [126]:
# 동 데이터 추출을 위해 str.split()
res_list = res_temp['지번주소'].str.split(' ')
res_list

0                 [서울특별시, 종로구, 평창동, 110-1번지, ]
1                    [서울특별시, 종로구, 인사동, 98번지, ]
2                [서울특별시, 종로구, 종로6가, 129-1번지, ]
3                    [서울특별시, 종로구, 통인동, 27-2, ]
4                   [서울특별시, 종로구, 창신동, 696-1, ]
                          ...
124986         [서울특별시, 동대문구, 이문동, 316-2, 지하1층]
124987    [서울특별시, 노원구, 하계동, 256-11, 보스턴, 산부인과]
124988          [서울특별시, 강남구, 신사동, 609-1, 지하1층]
124989          [서울특별시, 용산구, 한강로2가, 116-1, 1층]
124990                [서울특별시, 종로구, 명륜3가, 1-14]
Name: 지번주소, Length: 124991, dtype: object

In [127]:
# '시군구명', '법정동명' 컬럼 추가
res_temp['시군구명'] = res_list.str.get(1)
res_temp['법정동명'] = res_list.str.get(2)
res_temp

,사업장명,지번주소,도로명주소,좌표정보(X),좌표정보(Y),시군구명,법정동명
0,북악파크부페,서울특별시 종로구 평창동 110-1번지,서울특별시 종로구 평창길 352 (평창동),197993.2057,456584.6271,종로구,평창동
1,시민식당 2호점,서울특별시 종로구 인사동 98번지,서울특별시 종로구 종로11길 10 12층 (인사동),198681.5719,452050.2743,종로구,인사동
2,일번우동,서울특별시 종로구 종로6가 129-1번지,서울특별시 종로구 종로41길 10 (종로6가),200533.4536,452156.9003,종로구,종로6가
3,서촌소국밥,서울특별시 종로구 통인동 27-2,서울특별시 종로구 필운대로6길 17-1 (통인동),197250.3854,453135.4513,종로구,통인동
4,빽다방 동대문역점,서울특별시 종로구 창신동 696-1,서울특별시 종로구 종로 289 (창신동),200811.9254,452162.5695,종로구,창신동
...,...,...,...,...,...,...,...
124986,20bucks,서울특별시 동대문구 이문동 316-2 지하1층,서울특별시 동대문구 휘경로2길 19 지하1층 (이문동),205294.1706,454765.2611,동대문구,이문동
124987,DNJ,서울특별시 노원구 하계동 256-11 보스턴 산부인과,서울특별시 노원구 노원로 244 보스턴 산부인과 1층 (하계동),206490.5943,459688.0609,노원구,하계동
124988,별달맛집,서울특별시 강남구 신사동 609-1 지하1층,서울특별시 강남구 압구정로30길 23 (신사동지하1층),202534.5500,447079.2050,강남구,신사동
124989,메가엠지씨커피 신용산역점,서울특별시 용산구 한강로2가 116-1 1층,서울특별시 용산구 한강대로 130-3 1층 (한강로2가),197277.8630,447641.4505,용산구,한강로2가
124990,희래등반점,서울특별시 종로구 명륜3가 1-14,서울특별시 종로구 명륜길 31 (명륜3가),199506.1836,454029.3973,종로구,명륜3가

In [128]:
# 데이터프레임으로 만들기
res = res_temp['법정동명'].value_counts().to_frame()
res.reset_index(inplace=True)
res.columns = ['법정동명', '노래방수']
res

            법정동명  노래방수
0            역삼동  3089
1            신림동  2419
2            신사동  2269
3            화곡동  2236
4            구로동  2197
..           ...   ...
457  ?謙쩔便?119-30     1
458          과해동     1
459          오쇠동     1
460          주성동     1
461          원미구     1

[462 rows x 2 columns]

In [129]:
df = pd.merge(df, res, how='outer', on='법정동명')
df

            법정동명   공원수  노래방수_x   당구장  노래방수_y
0            마천동  12.0    24.0  10.0   326.0
1            역삼동  11.0    65.0  47.0  3089.0
2            문정동  11.0    34.0  12.0  1217.0
3            신길동  10.0    65.0  18.0   874.0
4            진관동   9.0     3.0   3.0   311.0
..           ...   ...     ...   ...     ...
546  ?謙쩔便?119-30   NaN     NaN   NaN     1.0
547          과해동   NaN     NaN   NaN     1.0
548          오쇠동   NaN     NaN   NaN     1.0
549          주성동   NaN     NaN   NaN     1.0
550          원미구   NaN     NaN   NaN     1.0

[551 rows x 5 columns]